<h1>Jellyfish Hosting Privacy Policy</h1>
<br>
<br>
What data do we collect from you by logging into our site?<br>
<br>
Your email address<br>
Your discord username and tag<br>
Your discord profile picture<br>
The discord guilds you are in<br>
And your ip address (not saved)<br>
<br>
How do we use your information?<br>
<br>
We use your information to prevent illegal activities and to bring you a great experience.<br>
<br>
Where is all of your customer data stored?<br>
<br>
Your data is secured in our high secure database which is not accessible outside of the server&rsquo;s local network.<br>
<br>
User Rights<br>
<br>
At any point in time, you can do the following things:<br>
- Withdraw your data from the database<br>
- Request a copy of your data<br>
- Request us to restrict us from collecting some of your data<br>
<br>
<br>
How do we secure your data?<br>
<br>
All of your data is secured within discord and PayPal (if your purchase extra resources). The only data stored in our database is your email address and discord username.<br>
<br>
Who can access my data?<br>
<br>
The only people that can access your data is our system administrators or above in the following situations:<br>
- You request the deletion of your customer data<br>
- You request a copy of your customer data<br>
- You request us to edit your customer data.<br>
<br>
<br>
Payment Handling<br>
<br>
If you decide to buy one of our extra resource options your payments are handled by PayPal and PayPal only. The data that we see on our PayPal statements is the data that anyone would see when buying something with PayPal. This includes:<br>
<br>
- Your PayPal email address<br>
- Your PayPal name.<br>
CPPA<br>
<br>
The CPPA is designed to protect any US citizens data, you have the right to visit our site anonymously and visit our privacy policy page.<br>
<br>
<br>
